/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 768px) {
  body {
    width: 100%;
  }
  /* Navbar */
  nav {
    padding: 10px 15px;
  }
  .dt-display-only {
    display: none;
  }
  .mb-display-only {
    display: block;
  }
  .nav-menu {
    margin-top: 40px;
    display: none;
    float: none;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 90%;
    border-bottom: 1px solid #a7a7a7;
  }
  .nav-menu li {
    float: none;
    width: 100%;
    text-align: center;
    border-top: 1px solid #a7a7a7;
    line-height: 45px;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav-menu a {
    color: #2e2e2e;
  }
  .nav-menu span {
    color: #2e2e2e;
  }
  .nav-filled {
    color: #2e2e2e;
  }
  nav ul li span {
    line-height: 40px;
  }
  .dropdown-content {
    position: relative;
    padding-left: 0;
    top: auto;
    left: auto;
    width: inherit;
    text-align: center;
  }
  .dropdown:hover > .dropdown-content {
    display: block;
  }
  .responsive {
    float: right;
    padding-top: 15px;
    display: block;
  }
  .active {
    background-color: #afafaf;
  }
  /* Header */
  #header {
    background-position: 22%;
  }
  /* About */
  .head-info .header-content .cmaster h1 {
    font-size: 32px;
  }

  .separator::before {
    flex: 1;
  }

  .heading {
    font-size: 42px;
    padding-bottom: 22px;
  }

  /* Videos */

  .video-responsive{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
  }
  .video-responsive iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
  }

  /* journal */
  #journal .journal-block .journal-info {
    margin-bottom: 30px;
  }

  /* Footer */
  #footer .socials-media ul li {
    margin-right: 0;
    margin-left: 0;
    float: none;
    display: inline-block;
  }

  .responsive-header {
    position: relative;
    color: #000;
    padding-top: 30px;
    padding-bottom: 10px;
    top: auto;
    left: auto;
  }

  #photos .photos img {
    width: 100vw;
  }

  #photos .row img {
    width: 100vw;
  }


}
