
body {
  background: #f7f7f7;
  color: #4a4a4a;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.02em;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 52px;
}

h2 {
  color: #4a4a4a;
  font-weight: 600;
}

h4 {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 600;
}

a {
  color: #292929;
  text-decoration: none !important;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

a:hover, a:focus {
  color: #65acb4;
  text-decoration: underline;
}

nav ul li a {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 12px;
  color: #999999;
  letter-spacing: 0.1em;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

p {
  margin: 25px 0;
  padding: 0;
  font-size: 15px;
  color: #4a4a4a;
  line-height: 28px;
}

::-moz-selection {
  background: #c5e3e6;
}

::selection {
  background: #c5e3e6;
}

.mb-30 {
  margin-bottom: 30px;
}

.active {
  color: #65acb4;
}

/*-----------------------------------------------------------------------------------*/
/*  Navbar Top
/*-----------------------------------------------------------------------------------*/

nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-filled {
  background-color: #ffffff;
  opacity: 95%;
  border-bottom: 1px solid #999;
}

.nav-filled a {
  color: #999;
}

.nav-filled span {
  color: #999;
}

.nav-filled a:hover {
  color: #65acb4;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.nav-menu {
  float: right;
  line-height: 32px;
  margin-bottom: 0;
}

nav ul li {
  float: left;
  margin-right: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-left: 40px;
}

nav ul li a{
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

nav ul li span {
  padding: 2px 0 0 0;
  position: relative;
  display: block;
  color: #fff;
  line-height: 16px;
}

.responsive {
  display: none;
  font-size: 23px;
}

.img {
  width: 100%;
  height: auto;
  display: block;
}

.dropdown-content {
  position: absolute;
  top: 120%;
  left: -50%;
  padding-left: 30px;
  min-width: 120px;
  display: none;
}

.nav-filled .dropdown-content {
  background-color: #fff;
  border: 1px solid #999;
}

.dropdown-content a {
  padding-top: 10px;
  padding-bottom: 10px;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.mb-display-only {
  display: none;
}


/*----------------------------------------------------------------------------------*/
/*  Header
/*-----------------------------------------------------------------------------------*/

#header {
  background: url("../images/home-bg.jpg") repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
}

#header .header-content {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  text-align: center;
}

.header-content h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

.header-content p {
  font-size: 30px;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
  font-weight: 500;

}

.heading {
  padding-top: 100px ;
  padding-bottom: 64px;
  font-size: 72px;
  width: 100%;
}

.separator {
    display: flex;
    align-items: center;
}

.separator::before {
    margin-right: .25em;
    content: '';
    flex: 0.1;
    border-bottom: 3px solid #65acb4;
    border-style: groove;
}
.separator::after {
    margin-left: .25em;
    content: '';
    flex: 1;
    border-bottom: 3px solid #65acb4;
    border-style: groove;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.paddsection {
  padding-top: 90px;
  padding-bottom: 90px;
}

.paddsections {
  padding-top: 90px;
  padding-bottom: 90px !important;
}

/*-----------------------------------------------------------------------------------*/
/*  About-us
/*-----------------------------------------------------------------------------------*/

#about {
  width: 100%;
  height: auto;
}

#about .subpage-nav {
  display: block !important;
  position: relative;
}

/*-----------------------------------------------------------------------------------*/
/*  Gallery
/*-----------------------------------------------------------------------------------*/

.box {
  position: relative;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

.box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: #65acb4;
  transition: opacity 0.25s ease;
}

.box:hover .box-caption {
  opacity: 90%;
}

.photos {
  width: 100vw;
  position: relative;
  text-align: center;
  color: #fff;
}

.photos_header {
  position: absolute;
  top: 30%;
  left: 7%;
}

.photos a {
  color: #999;
}

.photos a:hover {
  color: #65acb4;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
/*-----------------------------------------------------------------------------------*/
/*  Journal
/*-----------------------------------------------------------------------------------*/

#journal,  #journal-blog {
  height: auto;
  width: 100%;
  background: #f7f7f7;
  padding-bottom: 60px;
  position: relative;
}

#journal-blog {
  background: #fff;
  padding-bottom: 30px;
}

#journal .journal-block {
  display: inline-block;
  height: auto;
  width: 100%;
}

#journal .journal-block .journal-info {
  position: relative;
}

.journal-block .journal-info img {
  max-width: 100%;
}

.journal-block .journal-info .journal-txt {
  padding: 25px 0px;
  position: relative;
}

.journal-block .journal-info .journal-txt h4 a {
  display: block;
  font-size: 19px;
  line-height: 24px;
  margin: 0 0 13px 0;
  font-weight: 500;
  color: #292929;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.journal-block .journal-info .journal-txt h4 a:hover {
  color: #65acb4;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.journal-block .journal-info .journal-txt p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/

#footer {
  background: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
}

.socials-media {
  color: #999;
  font-size: 24px;
  vertical-align: bottom;
}

#footer .socials-media {
  width: 100%;
}

#footer .socials-media ul {
  display: inline-block;
  float: none;
  margin: 0 0 20px 0;
}

#footer .socials-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

#footer .socials-media ul li a {
  font-size: 24px;
  color: #999;
  letter-spacing: 0.1em;
  font-weight: 500;
  background: transparent;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer .socials-media ul li a:hover {
  color:#65acb4;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#footer p {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0;
  text-transform: uppercase;
}
